# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: Build and Test

on:
  push:
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    name: Build, Test, and Upload Builds
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x
        
    - name: Set VERSION variable from tag (for tag pushes)
      if: ${{ contains(github.ref, 'refs/tags') }}
      run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV

    - name: Set VERSION variable from tag (for normal commits)
      if: ${{ !contains(github.ref, 'refs/tags') }}
      run: echo "VERSION=0.0.0" >> $GITHUB_ENV
      
    - name: Print VERSION variable for debugging
      run: echo "$VERSION"
        
    - name: Restore
      run: dotnet restore
      
    - name: Publish for Linux x64
      run: dotnet publish -c Release -r linux-x64 --self-contained Refresher /p:Version=${VERSION}
      
    - name: Publish for Windows x64
      run: dotnet publish -c Release -r win-x64 --self-contained Refresher /p:Version=${VERSION}
      
    - name: Upload Linux x64 build
      uses: actions/upload-artifact@v3.1.1
      with:
          name: "Refresher for Linux x64"
          path: "Refresher/bin/Release/net7.0/linux-x64/publish/"
          if-no-files-found: error
          retention-days: 30
          
    - name: Upload Windows x64 build
      uses: actions/upload-artifact@v3.1.1
      with:
          name: "Refresher for Windows x64"
          path: "Refresher/bin/Release/net7.0/win-x64/publish/"
          if-no-files-found: error
          retention-days: 30
